################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IProjenFramework/config
/.vs/IProjenFramework/v16/Server/sqlite3
/.vs/IProjenFramework/v16
