@model IProjenFramework.MvcWebUI.Models.FormViewModel
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Form/FormListRibbonPartial.cshtml"
    , new ViewDataDictionary {
        { "newurl" , string.Format("<a href={0}> Yeni Kayıt </a>","/Form/New/" + Model.FormId) },
        { "listurl" , string.Format("<a href={0} class='stretched-link'> Kayıt Listesine Git </a>","/Form/List/" + Model.FormId) }
    })

@Html.Action(Model.ActionName.ToString(), Model.ControllerName,new { Id = Model.RecordId, formId = Model.FormId })
