<article class="col-sm-12 col-md-6 col-lg-6">
    <div class="col-md-6">
        <footer>
            <ol class="breadcrumb pull-left">
                <li>Insert</li>
                <li>Date</li>
                <li>Update</li>
                <li>Date</li>
            </ol>
        </footer>
    </div>
</article>

<article class="col-sm-12 col-md-6 col-lg-6">
    <div>
        <footer>
            <ul class="demo-btns pull-right">
                <li>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="$('#mainform').submit();"><i class="fa fa-save"></i> Kaydet</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="btn btn-success"><i class="fa fa-gear"></i> İşlemler <i class="fa fa-gear"></i></a>
                </li>
                @if (Convert.ToInt32(ViewData["Id"]) > 0)
                {
                    <li>
                        <a href="javascript:void(0);" class="btn btn-danger" id="btnDeleteRow">Sil <i class="fa fa-gear"></i></a>
                    </li>
                }
            </ul>
        </footer>
    </div>
</article>

<script type="text/javascript">
    $("#btnDeleteRow").click(function () {
        var ans = window.confirm("Kayıt silinecek. İşleme devam etmek istiyor musunuz?");
        if (ans) {
            Projen.Client.PostAsync({ Id: @ViewData["Id"] }, "@ViewData["url"]", function (e) {
                if (e == "")
                    window.location.href = "@ViewData["returnurl"]";
                else
                    alert(e);
            });
        }
    });
</script>
