@model IProjenFramework.MvcWebUI.Models.FormListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Form/FormListRibbonPartial.cshtml"
    , new ViewDataDictionary {
        { "newurl" , string.Format("<a href={0}> Yeni Kayıt </a>","/Form/New/" + Model.FormId) },
        { "listurl" , string.Format("{0}",Model.Description) }
    })

<div id="content">
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Model.Description </h2>

                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">                           
                            @Html.Action(Model.ActionName.ToString() + "List", Model.ControllerName,new { formid = Model.FormId })
                        </div>
                        <!-- end widget content -->
                    </div>

                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
</div>


