@model  IProjenFramework.Entities.Concrete.Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department</title>
</head>
<body>
    <div> 
       <h1>@Model.Name</h1>
    </div>
</body>
</html>
