@{
    Layout = null;
}

@model IProjenFramework.MvcWebUI.Models.DepartmentListViewModel

@Html.HiddenFor(m => m.FormId, new { id = "FormId" })

<table id="dtDepartment" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th style="width:2%"></th>
            <th class="hasinput" style="width:7%">
                <input type="number" class="form-control" placeholder="ID" />
            </th>
            <th class="hasinput" style="width:20%">
                <input type="text" class="form-control" placeholder="Department Adı" />
            </th>
            <th class="hasinput" style="width:40%">
                <input class="form-control" placeholder="Açıklama" type="text">
            </th>
            <th class="hasinput icon-addon">
                <input id="dateselect_filter" type="text" placeholder="Tarih" class="form-control datepicker" data-dateformat="dd/mm/yy">
                <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
            </th>
        </tr>
        <tr>
            <th data-class="expand"></th>
            <th data-class="expand">Id</th>
            <th data-class="expand">Departman Adı</th>
            <th data-class="expand">Açıklama</th>
            <th data-class="expand">Tarih</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="~/Scripts/ProjectJs/lists/departmentLst.js?v=@typeof(IProjenFramework.MvcWebUI.MvcApplication).Assembly.GetName().Version">
</script>

